:root {
    --checker-size: 24px;
    --checker-dark: #0b0b0b;
    --checker-light: #111;
}

body {
    margin: 0;
    min-height: 100vh;

    background-color: var(--checker-dark);
    background-image:
            linear-gradient(
                    45deg,
                    var(--checker-light) 25%,
                    transparent 25%,
                    transparent 75%,
                    var(--checker-light) 75%,
                    var(--checker-light)
            ),
            linear-gradient(
                    45deg,
                    var(--checker-light) 25%,
                    transparent 25%,
                    transparent 75%,
                    var(--checker-light) 75%,
                    var(--checker-light)
            );

    background-size:
            var(--checker-size) var(--checker-size),
            var(--checker-size) var(--checker-size);

    background-position:
            0 0,
            calc(var(--checker-size) / 2) calc(var(--checker-size) / 2);

    background-attachment: fixed;
}
